@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="form">
    <form method="post">
        <input type="text" autofocus name="answer"/>
        <button type="submit">Check</button>
    </form>
</div>