@model MayCalendar.Models.HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Проект «Календарь»";
    var inputClass = Model.WereWrongTry ? "incorrect" : null;
}
<div class="form">
    <form method="post">
        <label>Введите расшифрованный текст</label>
        <div class="textarea-border-top @inputClass">
            <div class="textarea-border-bottom @inputClass">
                <textarea rows="2" maxlength="80" autofocus name="answer" id="answer" autocomplete="off" class="@inputClass"></textarea>
            </div>
        </div>
        @if (Model.WereWrongTry)
        {
            <label class="validation-error">Неправильно, попробуйте еще раз</label>
        }
        <button type="submit">Проверить</button>
    </form>
</div>