@model MayCalendar.Models.HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Проект «Календарь»";
    var inputClass = string.IsNullOrEmpty(Model.ValidationError) ? null : "incorrect";
}
<div class="form">
    <form method="post">
        <label>Введите расшифрованный текст</label>
        <div class="textarea-border-top @inputClass">
            <div class="textarea-border-bottom @inputClass">
                @Html.TextAreaFor(x => x.Answer, new
                   {
                       rows = 2,
                       maxLength = 80,
                       //autofocus = false,
                       @class = inputClass
                   })
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.ValidationError))
        {
            <label class="validation-error">@Model.ValidationError</label>
        }
        <button type="submit">Проверить</button>
    </form>
</div>