@model MayCalendar.Models.HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Проект «Календарь»";
    var inputClass = Model.WereWrongTry ? "incorrect" : null;
}
<div class="form">
    <form method="post">
        <label>Введите название произведения</label>
        <input type="text" autofocus name="answer" id="answer" autocomplete="off" class="@inputClass"/>
        <button type="submit">Проверить</button>
    </form>
</div>