@{
    ViewData["Title"] = "Проект «Календарь»";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поздравляем, криптоаналитик!</h2>
<p class="p-long-text">5 мая, в день основания службы шифрования и криптографии в 1921 году, в России отмечается День Шифровальщика.</p>
<p class="p-long-text">Чтобы отметить этот праздник, в майском календаре с помощью <a href="https://ru.wikipedia.org/wiki/%D0%A8%D0%B8%D1%84%D1%80_%D0%A6%D0%B5%D0%B7%D0%B0%D1%80%D1%8F" target="_blank">«Шифра Цезаря»</a> мы зашифровали цитату из романа Дена Брауна «Цифровая крепость» (который как раз посвящён теме криптографии!).</p>
<p class="p-long-text">Если хотите узнать об истории криптографии и шифрования больше, можете прочесть «Книгу шифров» Саймона Сингха, или <a href="https://ru.wikipedia.org/wiki/%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F_%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%B8" target="_blank">статью на Википедии</a>.</p>

