@font-face {
    font-family: 'Bender';
    src: url('../fonts/subset-Bender.eot');
    src: url('../fonts/subset-Bender.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Bender.woff2') format('woff2'), url('../fonts/subset-Bender.woff') format('woff'), url('../fonts/subset-Bender.ttf') format('truetype'), url('../fonts/subset-Bender.svg#Bender') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
}

* {
    font-family: "Bender", sans-serif;
    color: #008dd2;
}

.container {
    width: 400px;
    background-color: #000000;
    border: solid #008dd2 2px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 25px;
    text-align: center;
}

@media all and (max-width: 320px) {
    .container {
        width: 200px;
    }
}

div[class*="textarea-border"] {
    position: relative;
}

.textarea-border-top::before {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top: 1px solid #008dd2;
    border-left: 1px solid #008dd2;
}

.textarea-border-top::after {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 1px solid #008dd2;
    border-right: 1px solid #008dd2;
}

.textarea-border-bottom::before{
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    border-bottom: 1px solid #008dd2;
    border-left: 1px solid #008dd2;
}

.textarea-border-bottom::after {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #008dd2;
    border-right: 1px solid #008dd2;
}

.form textarea {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000000;
    border: none;
    resize: none;
    margin: 18px 0 18px;
    padding: 10px;
    font-size: 16px;
    outline: 0;
    text-align: center;
    overflow: hidden;
    background: #002230;
}

.form textarea.incorrect {
    border-color: #ff3232;
    color: #ff3232;
    margin: 18px 0 1px;
}

.form div.incorrect::after, .form div.incorrect::before {
    border-color: #ff3232;
}

.validation-error {
    display: block;
    margin: 0 0 5px;
    color: #ff3232;
    font-size: 11px;
}

.form button {
    font-family: "Bender", sans-serif;
    outline: 0;
    background: #000000;
    width: 100%;
    border: solid #008dd2 2px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    color: #008dd2;
    font-size: 16px;
}

.form button:hover, .form button:active, .form button:focus {
    background: #006680;
}

h2 {
    font-family: "Bender", sans-serif;
    color: #008dd2;
    text-align: center;
}

p.p-long-text {
    text-align: left;
}

